.git
.github
.venv
**/.venv
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
dist
build
**/*.egg-info
docker-data
.env
.env.*
*.sqlite3
*.mp4
*.mov
*.mkv
*.webm
*.wav
*.mp3
